a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding-top: 10px;
}

h2 {
    color: red;
    font-size: 2em;
}

button {
    margin-top: 20px;
    font-size: 1em;
    border-radius: 10px;
}

td {

    border: 1px solid grey;
    padding: 4px;
    text-align: center;

}

th {

    border: 1px solid grey;
    padding: 4px;
    text-align: center;

}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

